body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: rgb(255, 253, 253);
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-top: 1px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  margin-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px;
  display: block;
  margin-left: 125px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}